body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
}

/*top section css start*/
.top{
	margin: 0 auto;
	padding:15px 0;
	box-sizing: border-box;
	overflow: hidden;
	width: 960px;
	border-bottom: 1px solid #6a6a6a;
}

.logo{
	margin: 0;
	padding:0;
	box-sizing: border-box;
	width: 65%;
	float: left;
	overflow: hidden;
}

.logo_img{
	width: 9%;
	box-sizing: border-box;
	float: left;
	padding-top: 6px;
}

.logo_text{
	width: 91%;
	box-sizing: border-box;
	float: right;
}

.logo_text h2{
	font-family: sans-serif;
	color: #6a6a6a;
}

.media_icon{
	margin: 0;
	padding-top:  2px;
	box-sizing: border-box;
	width: 35%;
	float: right;
	text-align: right;
	position: relative;
}

.media_icon span{
	position: absolute;
	left: 130px;
	bottom: 10px;
}

.media_icon ul{
	list-style: none;	
}

.media_icon ul li{
	display: inline-block;
	padding-right: 5px;
}
/*top section css end*/

/*menu section css start*/
.menu{
	margin: 0 ;
	padding-left:  160px;
	box-sizing: border-box;
	width: 960px;
}

.menu ul{
	list-style: none;
}

.menu ul li{
	display: inline-block;
	font-weight: bold;
	font-family: sans-serif;
	padding-right: 25px;
	color: #707070;
}

.menu ul li span{
	color: #0dca65;
}
/*menu section css end*/

/*slider section css start*/
.slider{
	margin: 0;
	padding: 0;
	width: 100%;
	box-sizing: border-box;
}

.a img{
	width: 100%;
	position: relative;
}

.b img{
	position: absolute;
	top: 230px;
	left: 220px;
}

.slider_text{
	width: 760px;
	margin: 0 auto;
	padding-top: 100px;
	text-align: center;	
	height: 30vh;
}

.slider_text h4{
	margin: 0;
	color: #acacac;
	font-family: sans-serif;
	font-size: 15px;
	padding-bottom: 35px;
}

.slider_text button{
	border: none;
	padding: 12px;
	background: #2dcc70;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 2px;
}
/*slider section css end*/

/*bot section css start*/
.bot{
	margin: 0;
	padding: 0;
	width: 100%;
	background: #332f30;
	box-sizing: border-box;
	height: 20vh;
}

.banner{
	margin: 0 auto;
	padding-top: 35px;
	width: 960px;
	box-sizing: border-box;
	overflow: hidden;
	color: white;
	font-family: sans-serif;
}

.x{
	width: 70%;
	float: left;
	text-align: left;
	box-sizing: border-box;
}

.y{
	width: 30%;
	float: right;
	text-align: right;
	box-sizing: border-box;
	padding-top: 15px;
}

.y button{
	border: none;
	padding: 12px;
	background: #2dcc70;
	color: white;
	font-weight: bold;
	font-family: sans-serif;
	border-radius: 2px;
}
/*bot section css end*/

/*footer section css start*/
.footer{
	margin: 0 auto;
	padding: 0;
	width: 960px;
	box-sizing: border-box;
	overflow: hidden;
}

.c{
	width: 50%;
	box-sizing: border-box;
	text-align: left;
	float: left;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding-top: 12px;
	color: #acacac;
}

.d{
	width: 50%;
	box-sizing: border-box;
	text-align: right;
	float: right;
}

.d ul{
	list-style: none;
}

.d ul li{
	display: inline-block;
	font-family: sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #acacac;
}
/*footer section css end*/
